.path-mod-attcontrol .attbtn {
    border:1px solid #AAAAAA;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.path-mod-attcontrol .attcurbtn {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

.path-mod-attcontrol .attfiltercontrols {
    margin-bottom: 10px;
    margin-right:auto;
    margin-left:auto;
}

.path-mod-attcontrol #id_perpage {
	width:100px;	
}

.path-mod-attcontrol #id_savepreferences {
	margin:0;
	
}

.path-mod-attcontrol .attfiltercontrols #currentdate{
    display: inline;
}

.path-mod-attcontrol .attwidth {
    width:90%;
    margin: auto;
}

.path-mod-attcontrol .userwithoutenrol,
.path-mod-attcontrol .userwithoutenrol a{
    color: gray;
}

.path-mod-attcontrol .userwithoutdata,
.path-mod-attcontrol .userwithoutdata a{
    color: red;
}

.path-mod-attcontrol .takelist td {
    vertical-align: middle;
}

.path-mod-attcontrol .takelist .userpicture {
    margin:0 3px;
    vertical-align:middle;
}

.path-mod-attcontrol .takegrid input {
    margin: 0px 3px 0px 6px;
}

.path-mod-attcontrol .takegrid .fullname {
    font-size: 0.8em;
}

.path-mod-attcontrol table.controls {
    width: 100%;
    text-align: center;
}

.path-mod-attcontrol table.controls tr {
    vertical-align: top;
}

.path-mod-attcontrol table td {
    vertical-align: middle;
}

.path-mod-attcontrol table.controls td.right,
.path-mod-attcontrol table.controls td.left {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.path-mod-attcontrol table td h2 {
	padding-left: 15px;
	
}

.path-mod-attcontrol table.controls .right {
    text-align: right;
}
/* for IE7*/
.path-mod-attcontrol .filtercontrols td {
    padding:6px;
}

.path-mod-attcontrol .takecontrols {
    width: 800px;
    margin: 0px auto 20px auto;
}
.path-mod-attcontrol .takecontrols table{
    margin: 0px auto;
}
.path-mod-attcontrol .takecontrols .c0 {
    width: 500px;
    text-align: left;
}
.path-mod-attcontrol .takecontrols .c1 {
    text-align: right;
}

.path-mod-attcontrol .inline,
.path-mod-attcontrol .inline form,
.path-mod-attcontrol .inline div {
    display: inline;
}

.path-mod-attcontrol table.userinfobox {
    border: 1px solid #EEEEEE;
    border-width: 1px 0;
    padding: 0px;
}
.path-mod-attcontrol .userinfobox .left, .userinfobox .side {
	width:50px;
}
.path-mod-attcontrol .userinfobox .userpicture {
	width:50px;
	height:50px;
}
.path-mod-attcontrol table.userinfobox td.left {
    background-color: #EEEEEE;
    padding: 10px 15px;
}
.path-mod-attcontrol table.attlist td.c0 {
    text-align: right;
}

.path-mod-attcontrol .attsessions_manage_table .action-icon img.smallicon {
    margin-left: 5px;
}
#page-mod-attcontrol-sessions input[type="checkbox"] {
    margin-right: 2px;
}

.path-mod-attcontrol .paging {
	text-align: left;	
}

.path-mod-attcontrol .optionspref {
	width: 30%;
}

.path-mod-attcontrol .mform.optionspref .fitem .fitemtitle {
	width: 40%;
}

.path-mod-attcontrol .mform.optionspref .fitem .felement {
	width:50%;
	margin-left: 45%;
}

.path-mod-attcontrol table.takelist {
	border-bottom:3px solid #ddd;
}

.path-mod-attcontrol div.generalbox {
	width:100%;
}

.path-mod-attcontrol div.generalbox table {
	width:100%;
}

.path-mod-attcontrol th.header {
	white-space:nowrap;
}

.path-mod-attcontrol textarea {
	width: 400px;
}

.path-mod-attcontrol p.nostudent {
	padding: 20px;
	margin: 20px 0;
	font-size: 1.3em;
	background-color: #F5F5F5;
	text-align: center;
}

.path-mod-attcontrol tr.reportfooter td {

	border-top:2px solid #ddd;
	background-color:white;
}

.path-mod-attcontrol table.generaltable {
	border-bottom:3px solid #ddd;
}

